/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body.html {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }

.w-100{
    width: 100% !important;
}
.w-50{
    width: 50% !important;
}
.ml-auto{
    margin-left: auto !important;
}

.mr-auto{
    margin-right: auto !important;
}
.mb-12{
    margin-bottom: 12px !important;
}
.ml-12{
    margin-left: 12px !important;
}
.mr-12{
    margin-right: 12px !important;
}
.mt-12{
    margin-top: 12px !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body.html {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }

.w-100{
    width: 100% !important;
}
.w-50{
    width: 50% !important;
}
.ml-auto{
    margin-left: auto !important;
}

.mr-auto{
    margin-right: auto !important;
}
.mb-12{
    margin-bottom: 12px !important;
}
.ml-12{
    margin-left: 12px !important;
}
.mr-12{
    margin-right: 12px !important;
}
.mt-12{
    margin-top: 12px !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
