<!-- <nav class="header">
  <div class="flex-custom">
    <a class="header-brand" href="">
      <h2>Pick Your Trip<span style= "display:block;">Tra</span></h2>
    </a>
  </div>  
</nav> -->
<div class="header-container">
    <h3 class="header col-8 m-0">Destin Vacays</h3>
    <div class="hright mr-auto">
      <div class="call-box"> Talk to Our Destination Specialist:
        <!-- <img src="assets/images.png" alt=""> -->
        <span class="call-no">+91-9566827993</span>
      </div>
      <div class="email">
        <a href="#"></a>mail@destinvacays.com
      </div>
    </div>
</div>
  <nav class="nav-bar nav-font">
    <span class="nav-content ml-auto">Home</span>
    <span class="nav-content">About</span>
    <div class="nav-content dropdown">Holidays of a lifetime<img class="ml-12" src="assets/down-arrow.svg" alt="">
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="nav-content dropdown">Journey<img class="ml-12" src="assets/down-arrow.svg" alt="">
      <div class="dropdown-content">
        <a href="#">Journey 1</a>
        <a href="#">Journey 2</a>
        <a href="#">Journey 3</a>
      </div>
    </div>
    <div class="nav-content dropdown">Destination<img class="ml-12" src="assets/down-arrow.svg" alt="">
      <div class="dropdown-content">
        <a href="#">Destination 1</a>
        <a href="#">Destination 2</a>
        <a href="#">Destination 3</a>
      </div>
    </div>
    <span class="nav-content">The Blog</span>
    <span class="nav-content mr-auto" style="box-shadow: none;">Contact</span>
  </nav>
  <div class="main-content">
    <div class="img-container">
      <app-carousel></app-carousel>
    </div>
    <div class="content">
      <div class="l-content">
        <div class="form-bg" [formGroup]="submitForm">
          <div class="mb-12"><label>We will get back to you within 48 hrs with itineraries.</label></div>
          <div class="form-group">
            <div class="label-div">
                <label class="nef-label">First Name<span class="mandatory">*</span></label>
            </div>
            <div class="input-box">
                <input type="text" class="form-control" [class.border-danger]=""  id="name" autocomplete="off" formControlName="name" placeholder="" name="name">
            </div>
          </div>
          <div class="form-group">
            <div class="label-div">
                <label class="nef-label">E-mail/URL<span class="mandatory">*</span></label>
            </div>
            <div class="input-box">
                <input type="text" class="form-control" [class.border-danger]=""  id="email" autocomplete="off" formControlName="email" placeholder="" name="email">
            </div>
          </div>
          <div class="form-group">
            <div class="label-div">
                <label class="nef-label">Phone<span class="mandatory">*</span></label>
            </div>
            <div class="input-box">
                <input type="text" class="form-control" [class.border-danger]=""  id="phoneNo" autocomplete="off" formControlName="phoneNo" placeholder="" name="phoneNo">
            </div>
          </div>
          <div class="form-group">
            <div class="label-div">
                <label class="nef-label">Country<span class="mandatory">*</span></label>
            </div>
            <div class="input-box">
                <input type="text" class="form-control" [class.border-danger]=""  id="country" autocomplete="off" formControlName="country" placeholder="" name="country">
            </div>
          </div>
          <button class="btn-group">Submit</button>
        </div>
      </div>
      <div class="r-content">
        <label class="mb-2"><b>Best Boutiue Travel Company- Luxury travel, honeymoon travel, Travel Services Agency of India Pick Your Trip</b></label>
        <label class="mb-2"><b>Pick Your Trip-</b> We are one of India’s best boutique travel companies. Since 2004 we’ve been offering unique travel experiences such as gourmet tours, off beat honeymoons, luxury travel holidays, experiential travel, spiritual journeys and more.</label>
        <label>Give up your inhibitions, take a leap of faith and travel with us. Break free of the mantle of existing and experience life and the wonder it has to offer. Let us accompany you on small parts of your life’s journey and help you create memories that will stand testament to the fact that you lived your life and didn’t just exist. Pick Your Trip offers the best holiday destinations, Travel with us the way you want, pick best honeymoon destinations, luxury holidays anywhere in the world.</label>
        <p>Aute minim aliquip incididunt aute id eiusmod amet. Esse enim id aliqua anim elit excepteur. Adipisicing elit ad dolore laboris ut proident cillum voluptate. Veniam consequat ipsum amet ullamco eiusmod proident magna ad veniam.</p>

        <p>Amet amet laborum elit sint reprehenderit ex nostrud laboris. Aliqua irure exercitation mollit tempor. Culpa reprehenderit id ex exercitation tempor culpa ea. Cupidatat veniam pariatur ea fugiat eu veniam incididunt ipsum.</p>
        
        <p>Laboris ad non do occaecat Lorem dolore tempor. Sint ex voluptate esse aliquip id laborum dolore consectetur proident. Aliqua exercitation duis laborum culpa reprehenderit. Voluptate amet aute culpa deserunt exercitation cupidatat proident est.</p>
        
        <p>Qui voluptate tempor cupidatat nisi reprehenderit tempor eu. Fugiat nulla et labore in ullamco consequat proident. Quis anim duis adipisicing commodo. Voluptate esse qui aliqua dolore enim Lorem est qui. Ullamco ut amet laboris occaecat.</p>
        </div>
    </div>
    <div class="footer-container">


        <div class="footer">
            <div class="footer-links d-flex">
                <div class="foot-header col-3">
                    <label class="mb-12">Links</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Home</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">About</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Holidays of a lifetime</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Journey</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Destination</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">The Blog</label>
                </div>
                <div class="foot-header col-3">
                    <label class="mb-12">Life Experiences</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Adventure holidays</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Awe Inspiring Holidays</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Wildlife Holidays</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Beach Holidays</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Castles & Palaces Vacations</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">City Breaks</label>
                </div>
                <div class="foot-header col-3">
                    <label class="mb-12">Journey</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Romantic Getaways</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Spiritual Holidays</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Rail Trail</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Cruise Holidays</label>
                </div>
                <div class="foot-header col-3">
                    <label class="mb-12">Destinations</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">China</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Cambodia</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Vietnam</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">France</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Greece</label>
                    <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Spain</label>
                </div>
            </div>
          </div> 
          <div class="btm-footer">
            <div class="btm-footer-links">
                <div class="d-flex">
                    <label>Copyright 2022 Pick Your Trip - Trip tour travel to India. All rights reserved.</label>
                </div>
            </div>
          </div> 
    </div>

  
  </div>
  